.thing-H {
  padding: 1rem;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ff9800;
  border-radius: 0.5rem;
  
 color: #fff;
}

.thing-H h4{
  color: #000;
}

.heading {
  color: #fff;
}
